doctype html
html(lang="en")
  head
    title Super Contact Manager
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")
  body
    .containter
      .col-sm-12
        h1.title Super Contact Manager
        .content
          include ./contacts
    include ./modal

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="js/main.js")
